# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/

# Project specific
docker-compose.yml
